<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="LogToFile" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
                <!--
                For example, for the category name "a.b.c" the pattern %c{2} will output "b.c".
                For example, for the class name "org.apache.xyz.SomeClass", the pattern %C{1} will output "SomeClass".
                c{1.}: c.n.d.r.HelloController
                c{1.}: HelloController
                %logger: com.niuge.demos.redis3.HelloController
                t: Used to output the name of the thread that generated the logging event.

                -->
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.niuge.demos.redis3" level="debug" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>